# IMPORT & SET UP

In [1]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
import urllib.parse
import os
import re

from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.common.exceptions import NoSuchElementException

pd.set_option('display.max_colwidth', None)

In [4]:
PROJECT_DIR = os.getcwd()
ID_DIR_NAME = 'job_id_dir'
INFO_DIR_NAME = 'job_info_dir'

### DRIVER FUNCTIONS

In [5]:
DRIVER = None

In [6]:
def start_driver():
    global DRIVER
    if DRIVER is None:
        options = Options()
        options.add_argument('--headless=new')
        options.add_argument('--no-sandbox')
        options.add_argument('--incognito')
        options.add_argument('-disable-dev-shm-usage')

        chromedriver_path = PROJECT_DIR + 'Chromedriver/chromedriver_mac_arm64/chromedriver'
        service = Service(chromedriver_path)
        DRIVER = webdriver.Chrome(service=service, options=options)
    else:
        print('A driver is already running. Please close current driver before starting another one.')

def close_driver():
    global DRIVER
    if DRIVER is not None:
        DRIVER.close()
        DRIVER = None

In [7]:
close_driver()

In [8]:
start_driver()

### URL & LOGIN SETUPS

In [10]:
from linkedin_scraper import actions

EMAIL = "minhnnt97@gmail.com"
PASSWORD = "pazqig-higdar-nehmE6"
actions.login(DRIVER, EMAIL, PASSWORD) 

BASE_URL = "https://www.linkedin.com/jobs/search/"
SEARCH_TERM = "Data Scientist"
LOCATION_TERM = "United States"

SEARCH_URL = BASE_URL + f"?keywords={urllib.parse.quote(SEARCH_TERM)}" + f"&location={urllib.parse.quote(LOCATION_TERM)}&refresh=true"
SEARCH_URL

'https://www.linkedin.com/jobs/search/?keywords=Data%20Scientist&location=United%20States&refresh=true'

# FUNCTIONS

## Function to scrape all job IDs on the search page(s)

In [8]:
# Function to scrape all products from a page
def get_all_job_ids_from_page(url, num_page=-1):

    global DRIVER, SEARCH_TERM, LOCATION_TERM

    job_id_scrape_time = datetime.now()
    print(f'DATE & TIME: {job_id_scrape_time.strftime(("%Y/%m/%d %H:%M:%S"))}')
    job_id_list = []      
    DRIVER.get(url) 
    time.sleep(5) 

      # Count total number of pages in the search result
    max_page = DRIVER.find_element(By.CLASS_NAME, 'jobs-search-results-list__pagination').find_element(By.TAG_NAME, 'ul').find_elements(By.TAG_NAME, 'li')[-1]
    max_page = int(max_page.text)
    num_page = min(max_page, num_page) if num_page>0 else max_page
    print(f'Scraping {num_page} page(s) out of {max_page} total pages for {SEARCH_TERM} jobs search in {LOCATION_TERM}...')
    total_err_count = 0

      # Loop through num_page pages to scrape all products listed on each page
    for p in range(1, num_page+1):
      url = url + f'&start={(p-1)*25}'  # p=1: start=0, p=2: start = 25 ...
      DRIVER.get(url)
      time.sleep(3)
      # Find all li tags that contain the job information
      products_all = DRIVER.find_element(By.CLASS_NAME, "jobs-search-results-list").find_element(By.CLASS_NAME, "scaffold-layout__list-container").find_elements(By.CLASS_NAME, "scaffold-layout__list-item")
      print(f'Found {len(products_all)} job IDs on page {p}.', end=' ')

      err_count = 0
      for product in products_all:
          try:
              job_id = product.get_attribute("data-occludable-job-id")
              job_id_list.append(job_id)
          except NoSuchElementException:
              err_count += 1

      print(f'Could not scrape {err_count} jobs.')
      total_err_count += err_count

    # Remove dupes
    job_id_list = list(set(job_id_list))
    print(f'---> Found total {len(job_id_list)} unique jobs. Could not scrape total of {total_err_count} jobs.')

    return job_id_list, job_id_scrape_time

time: 1.21 ms (started: 2023-03-31 20:15:35 -05:00)

## Function to scrape information on the job page

In [9]:
def get_single_job_info(job_id):

    info = {
        'Job ID': job_id,
        'Job URL': None,
        'Name': None,
        'Company': None,
        'Company Logo URL': None,
        'Location': None,
        'Workplace Type': None,
        'Time Posted': None,
        'Applicants Count': None,
        'Job Overview': None,
        'Company Overview': None,
        'HR URL': None
    }

    JOB_URL = f"https://www.linkedin.com/jobs/view/{job_id}"
    DRIVER.get(JOB_URL)
    time.sleep(3)

    # Job URL
    info['Job URL'] = JOB_URL

    # Job Name
    try:
        name = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__job-title").get_attribute("innerHTML")
        info['Name'] = name.strip()
    except NoSuchElementException:
        pass

    # Company
    try:
        company = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__company-name").find_element(By.TAG_NAME, 'a').get_attribute("innerHTML")
        info['Company'] = company.strip()
    except NoSuchElementException:
        pass

    # Company Logo
    try:
        comp_logo_url = DRIVER.find_element(By.CLASS_NAME, 'p5').find_element(By.TAG_NAME, 'img').get_attribute('src')
        info['Company Logo URL'] = comp_logo_url.strip()
    except NoSuchElementException:
        pass

    # Location
    try:
        location = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__subtitle-primary-grouping").find_element(By.CLASS_NAME, "jobs-unified-top-card__bullet").get_attribute("innerHTML")
        info['Location'] = location.strip()
    except NoSuchElementException:
        pass

    # Workplace Type
    try:
        work_type = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__workplace-type").get_attribute("innerHTML")
        info['Workplace Type'] = work_type.strip()
    except NoSuchElementException:
        pass

    # Time Posted
    try:
        time_posted = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__posted-date").get_attribute("innerHTML")
        info['Time Posted'] = time_posted.strip()
    except NoSuchElementException:
        pass

    # Applicants Count
    try:
        applicants = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__subtitle-secondary-grouping").find_element(By.CLASS_NAME, "jobs-unified-top-card__applicant-count").get_attribute("innerHTML")
        info['Applicants Count'] = applicants.strip()
    except NoSuchElementException:
        try:
            applicants = DRIVER.find_element(By.CLASS_NAME, "jobs-unified-top-card__subtitle-secondary-grouping").find_element(By.CLASS_NAME, "jobs-unified-top-card__bullet").get_attribute("innerHTML")
            info['Applicants Count'] = applicants.strip()
        except NoSuchElementException:
            pass

    # Job & Company Insight
    try:
        job_overview, company_overview = DRIVER.find_elements(By.CLASS_NAME, "jobs-unified-top-card__job-insight")[:2]
        # use try except to find info of each column:
        # try:
        #     salary = job_overview.find_element(By.TAG_NAME, 'span').find_element(By.TAG_NAME, 'a').get_attribute("innerHTML")
        #     info['Salary'] = salary.strip('\n<!-> ')
        #     job_overview = job_overview.find_element(By.TAG_NAME, 'span').text # With salary posted
        # except NoSuchElementException:
        #     job_overview = job_overview.find_element(By.TAG_NAME, 'span').get_attribute("innerHTML") # Without salary posted

        # use .text to get all text information
        job_overview = job_overview.find_element(By.TAG_NAME, 'span').text
        job_overview = re.sub(r'<!--(?=.*?-->).*?-->', '', job_overview, flags=re.DOTALL) # Remove all HTML comments

        company_overview = company_overview.find_element(By.TAG_NAME, 'span').text
        company_overview = re.sub(r'<!--(?=.*?-->).*?-->', '', company_overview, flags=re.DOTALL) # Remove all HTML comments

        info['Job Overview'] = job_overview.strip()
        info['Company Overview'] = company_overview.strip()
    except NoSuchElementException:
        pass

    # HR URL
    try:
        hr_url = DRIVER.find_element(By.CSS_SELECTOR, "div[class*='hirer-card__hirer-information'] a").get_attribute('href')
        info['HR URL'] = hr_url.strip()
    except NoSuchElementException:
        pass

        # Job details
    # try:
    #     job_details = DRIVER.find_element(By.ID, 'job-details').find_element(By.TAG_NAME, 'span').get_attribute('innerHTML')
    #     job_details = re.sub(r'<!--(?=.*?-->).*?-->', '', job_details, flags=re.DOTALL) # Remove all HTML comments
    #     info['Job Details'] = job_details.strip()
    # except NoSuchElementException:
    #     pass

    return info

#### Test job_id
- 3437480788
- 3525179725
- 3540119207
- 3515314825

In [11]:
test_info = get_single_job_info(3525179725)

{'Job ID': 3525179725,
 'Job URL': 'https://www.linkedin.com/jobs/view/3525179725',
 'Name': 'AI Research Engineer- Remote',
 'Company': 'Neo Cybernetica',
 'Company Logo URL': 'https://media.licdn.com/dms/image/C560BAQFdt_fuOIJ5TQ/company-logo_100_100/0/1644369586489?e=1688601600&v=beta&t=QyxXmGwyZyxqfDP7SiKcGuUJGrnmgnsnpdG5FbV-ESw',
 'Location': 'Bedford, NH',
 'Workplace Type': 'Remote',
 'Time Posted': '2 weeks ago',
 'Applicants Count': '77 applicants',
 'Job Overview': '11-50 employees · Software Development',
 'Company Overview': 'See how you compare to 77 applicants. Try Premium for free',
 'HR URL': None}

In [13]:
test_info = get_single_job_info(3515314825)
test_info

{'Job ID': 3515314825,
 'Job URL': 'https://www.linkedin.com/jobs/view/3515314825',
 'Name': 'Project Manager - Continuous Improvement',
 'Company': 'MassMEP',
 'Company Logo URL': 'https://media.licdn.com/dms/image/C560BAQHYyK7bdYEOQQ/company-logo_100_100/0/1655235578188?e=1688601600&v=beta&t=Ia7tWFxQvS3WsPm_Cg-huUsFlKepgL4xu2fXonNnjRk',
 'Location': 'Auburn, MA',
 'Workplace Type': 'Hybrid',
 'Time Posted': '3 weeks ago',
 'Applicants Count': '164 applicants',
 'Job Overview': '$97,000/yr · Full-time',
 'Company Overview': '11-50 employees',
 'HR URL': 'https://www.linkedin.com/in/dawn-sedlier-shrm-scp-66741320'}

# START SCRAPING

Get all job ids from the job search page into a list

In [13]:
num_page = 0 # to scrape all pages: set to 0 or -1
job_id_list, job_id_scrape_time = get_all_job_ids_from_page(SEARCH_URL, num_page=num_page)
# job_id_list

DATE & TIME: 2023/03/29 13:10:29
Scraping 40 page(s) out of 40 total pages for Data Scientist jobs search in United States...
Found 25 job IDs on page 1. Could not scrape 0 jobs.
Found 25 job IDs on page 2. Could not scrape 0 jobs.
Found 25 job IDs on page 3. Could not scrape 0 jobs.
Found 25 job IDs on page 4. Could not scrape 0 jobs.
Found 25 job IDs on page 5. Could not scrape 0 jobs.
Found 25 job IDs on page 6. Could not scrape 0 jobs.
Found 25 job IDs on page 7. Could not scrape 0 jobs.
Found 25 job IDs on page 8. Could not scrape 0 jobs.
Found 25 job IDs on page 9. Could not scrape 0 jobs.
Found 25 job IDs on page 10. Could not scrape 0 jobs.
Found 25 job IDs on page 11. Could not scrape 0 jobs.
Found 25 job IDs on page 12. Could not scrape 0 jobs.
Found 25 job IDs on page 13. Could not scrape 0 jobs.
Found 25 job IDs on page 14. Could not scrape 0 jobs.
Found 25 job IDs on page 15. Could not scrape 0 jobs.
Found 25 job IDs on page 16. Could not scrape 0 jobs.
Found 25 job IDs on page 17. Could not scrape 0 jobs.
Found 25 job IDs on page 18. Could not scrape 0 jobs.
Found 25 job IDs on page 19. Could not scrape 0 jobs.
Found 25 job IDs on page 20. Could not scrape 0 jobs.
Found 25 job IDs on page 21. Could not scrape 0 jobs.
Found 25 job IDs on page 22. Could not scrape 0 jobs.
Found 25 job IDs on page 23. Could not scrape 0 jobs.
Found 25 job IDs on page 24. Could not scrape 0 jobs.
Found 25 job IDs on page 25. Could not scrape 0 jobs.
Found 25 job IDs on page 26. Could not scrape 0 jobs.
Found 25 job IDs on page 27. Could not scrape 0 jobs.
Found 24 job IDs on page 28. Could not scrape 0 jobs.
Found 25 job IDs on page 29. Could not scrape 0 jobs.
Found 25 job IDs on page 30. Could not scrape 0 jobs.
Found 25 job IDs on page 31. Could not scrape 0 jobs.
Found 25 job IDs on page 32. Could not scrape 0 jobs.
Found 25 job IDs on page 33. Could not scrape 0 jobs.
Found 25 job IDs on page 34. Could not scrape 0 jobs.
Found 25 job IDs on page 35. Could not scrape 0 jobs.
Found 25 job IDs on page 36. Could not scrape 0 jobs.
Found 25 job IDs on page 37. Could not scrape 0 jobs.
Found 25 job IDs on page 38. Could not scrape 0 jobs.
Found 25 job IDs on page 39. Could not scrape 0 jobs.
Found 25 job IDs on page 40. Could not scrape 0 jobs.
---> Found total 999 unique jobs. Could not scrape total of 0 jobs.

#### Write list of job ids to file

In [436]:
file_name = f'jobs_{job_id_scrape_time.strftime("%y%m%d_%H%M%S")}.txt'
JOB_FILE_PATH = os.path.join(PROJECT_DIR, ID_DIR_NAME, file_name)
print(f'[{job_id_scrape_time.strftime(r"%Y/%m/%d %H:%M:%S")}] Updated job list at {JOB_FILE_PATH}')

# Write file to folder
# with open(JOB_FILE_PATH, 'w+') as f:
#     for job_id in job_id_list:
#         f.write(f'{job_id}\n')

[2023/03/29 13:10:29] Updated job list at /Users/thule/Desktop/DSProjects/Linkedin_Analysis/job_id_list_dir/jobs_230329_131029.txt

#### Get list of job id from most recent file

In [14]:
# Get most recent id file
JOB_FILE_PATH = os.path.join(PROJECT_DIR, ID_DIR_NAME, (os.listdir(os.path.join(PROJECT_DIR, ID_DIR_NAME)))[-1])

with open(JOB_FILE_PATH, 'r') as f:
    job_id_list = [l.strip() for l in f.readlines()]

job_id_list

['3520044004',
 '3523743282',
 '3520459813',
 '3525723554',
 '3527821880',
 '3545964641',
 '3520729278',
 '3516637194',
 '3527065467',
 '3522212905',
 '3522294979',
 '3529041711',
 '3532901532',
 '3529458696',
 '3516672427',
 '3529872684',
 '3529949220',
 '3525654696',
 '3525923153',
 '3520439276',
 '3520458644',
 '3524955715',
 '3530936787',
 '3521523630',
 '3522086390',
 '3521754879',
 '3517168914',
 '3542549318',
 '3522010736',
 '3545964865',
 '3533040991',
 '3526783948',
 '3525790897',
 '3523779032',
 '3522879882',
 '3525207467',
 '3520737436',
 '3527860425',
 '3514747876',
 '3531333875',
 '3532789301',
 '3529457989',
 '3516670537',
 '3520378880',
 '3545989312',
 '3520382049',
 '3520155411',
 '3528643036',
 '3516616194',
 '3526077070',
 '3520820840',
 '3528020320',
 '3531482679',
 '3524248732',
 '3532595880',
 '3540122981',
 '3522671237',
 '3530768301',
 '3531339677',
 '3521702352',
 '3532599805',
 '3527675015',
 '3525729542',
 '3528295490',
 '3542540251',
 '3525564609',
 '3528021625',
 '3529446308',
 '3527454061',
 '3527675479',
 '3529962650',
 '3545901337',
 '3527499365',
 '3525703419',
 '3520431844',
 '3523755214',
 '3542556966',
 '3530952152',
 '3521404305',
 '3546540655',
 '3529967989',
 '3515058369',
 '3521422225',
 '3523766377',
 '3525296901',
 '3527807683',
 '3532507722',
 '3528077119',
 '3525654305',
 '3539667050',
 '3528026821',
 '3511721875',
 '3529465223',
 '3531340605',
 '3524619872',
 '3525772385',
 '3525989310',
 '3527811853',
 '3546324867',
 '3529172289',
 '3522075011',
 '3522651579',
 '3521982147',
 '3521129358',
 '3529480075',
 '3539669138',
 '3531435235',
 '3532474040',
 '3525247930',
 '3521474764',
 '3521902207',
 '3509844261',
 '3515533560',
 '3521487792',
 '3524627371',
 '3523497766',
 '3526102946',
 '3520156062',
 '3522612161',
 '3522028326',
 '3525670304',
 '3526062290',
 '3530024400',
 '3522206717',
 '3529222523',
 '3524211164',
 '3545494806',
 '3530943258',
 '3527062184',
 '3529319309',
 '3526157544',
 '3521474805',
 '3526217028',
 '3529253140',
 '3521789457',
 '3531609660',
 '3526093404',
 '3518263691',
 '3525729474',
 '3519756598',
 '3530577176',
 '3526174941',
 '3525731189',
 '3520035884',
 '3545957112',
 '3525766205',
 '3524209852',
 '3513225174',
 '3525868666',
 '3515144959',
 '3509510103',
 '3526716835',
 '3523731373',
 '3525979253',
 '3545961540',
 '3524622628',
 '3531294662',
 '3539661819',
 '3530078079',
 '3529803512',
 '3525068193',
 '3526744285',
 '3529400243',
 '3520489854',
 '3542598191',
 '3527652076',
 '3529462417',
 '3524844225',
 '3530411230',
 '3526161472',
 '3525773458',
 '3529990354',
 '3521486098',
 '3528169114',
 '3529666720',
 '3529458694',
 '3542704869',
 '3532760545',
 '3529437891',
 '3518896243',
 '3521853730',
 '3521424471',
 '3514106313',
 '3511945772',
 '3529657379',
 '3535120319',
 '3524217672',
 '3530196652',
 '3529973180',
 '3530920144',
 '3529129610',
 '3539620173',
 '3524225425',
 '3520813923',
 '3542745516',
 '3532733269',
 '3532656081',
 '3531177201',
 '3527092279',
 '3526779818',
 '3527040313',
 '3529819530',
 '3521912452',
 '3527663047',
 '3526108188',
 '3531408838',
 '3522673847',
 '3518600464',
 '3531369992',
 '3521780096',
 '3525769987',
 '3527862432',
 '3532654612',
 '3526584125',
 '3545909764',
 '3530858059',
 '3542593610',
 '3527455522',
 '3526147864',
 '3529460523',
 '3525206801',
 '3514638572',
 '3509516477',
 '3526187179',
 '3520224198',
 '3529285333',
 '3525794627',
 '3529313064',
 '3542592087',
 '3527649008',
 '3515509566',
 '3529983627',
 '3527581900',
 '3522219719',
 '3513296260',
 '3522104106',
 '3527600960',
 '3525870022',
 '3526750244',
 '3519841308',
 '3525709518',
 '3526828102',
 '3523779725',
 '3532658703',
 '3529692887',
 '3526770169',
 '3520419487',
 '3518036347',
 '3542594449',
 '3531324988',
 '3539679949',
 '3526758487',
 '3529425118',
 '3526786756',
 '3521479401',
 '3542749224',
 '3522404607',
 '3524202722',
 '3525957422',
 '3532796507',
 '3527642936',
 '3525267316',
 '3520084449',
 '3520804791',
 '3520269571',
 '3545493964',
 '3532618322',
 '3530789553',
 '3529985953',
 '3527055692',
 '3529462416',
 '3542578502',
 '3528430158',
 '3520423066',
 '3531345790',
 '3532673817',
 '3521482635',
 '3545902228',
 '3508853924',
 '3542551869',
 '3523788702',
 '3525246628',
 '3521147359',
 '3526783947',
 '3509582149',
 '3528318500',
 '3525870020',
 '3532494617',
 '3524978925',
 '3545911431',
 '3522414852',
 '3520231079',
 '3520949701',
 '3532614056',
 '3532337816',
 '3518138438',
 '3529989142',
 '3515191836',
 '3511726025',
 '3545497608',
 '3521492510',
 '3529998091',
 '3529689047',
 '3534034507',
 '3519379061',
 '3521412162',
 '3530936826',
 '3524624310',
 '3520083703',
 '3523186440',
 '3532455454',
 '3524214161',
 '3525770258',
 '3514731713',
 '3520099721',
 '3546701148',
 '3526180673',
 '3532758791',
 '3525696196',
 '3528636668',
 '3521489192',
 '3522260234',
 '3525766204',
 '3525251216',
 '3528289745',
 '3521473751',
 '3529950132',
 '3526787381',
 '3529984761',
 '3522652924',
 '3539678993',
 '3522665514',
 '3530744339',
 '3529358345',
 '3529109798',
 '3529074165',
 '3525873103',
 '3529130352',
 '3524622363',
 '3529622234',
 '3546894335',
 '3532663585',
 '3531316947',
 '3522260300',
 '3522027720',
 '3526207414',
 '3524843356',
 '3524984384',
 '3521479315',
 '3531933865',
 '3526787583',
 '3529172511',
 '3528593102',
 '3530985349',
 '3533067391',
 '3527471753',
 '3529499089',
 '3529675480',
 '3524155650',
 '3523040470',
 '3521482393',
 '3532425357',
 '3527707524',
 '3522214886',
 '3516435813',
 '3527214986',
 '3529461405',
 '3522205691',
 '3522246848',
 '3523901388',
 '3527581901',
 '3524980770',
 '3524177483',
 '3546823234',
 '3532319164',
 '3525639096',
 '3525733135',
 '3522290885',
 '3526793895',
 '3524968263',
 '3546057550',
 '3522877277',
 '3524246306',
 '3532491968',
 '3526278638',
 '3524223075',
 '3522639387',
 '3525865500',
 '3529617950',
 '3523753772',
 '3525864581',
 '3513162637',
 '3509579411',
 '3529989292',
 '3534153304',
 '3526791029',
 '3526207010',
 '3528114831',
 '3524642908',
 '3525254032',
 '3540139169',
 '3546905178',
 '3525824094',
 '3529193631',
 '3532578245',
 '3509580321',
 '3511722573',
 '3525241251',
 '3527643442',
 '3527071009',
 '3526804376',
 '3516611570',
 '3523793139',
 '3511766183',
 '3523499045',
 '3521193431',
 '3539684591',
 '3518942827',
 '3517672102',
 '3542705831',
 '3542583283',
 '3522383627',
 '3529685522',
 '3525655926',
 '3545954480',
 '3532613016',
 '3546769781',
 '3525980205',
 '3529172476',
 '3532664483',
 '3522255458',
 '3530028062',
 '3520827015',
 '3540138251',
 '3524265933',
 '3529906386',
 '3529989291',
 '3523935327',
 '3523792790',
 '3525669922',
 '3532307720',
 '3540118079',
 '3526059899',
 '3533957444',
 '3522388012',
 '3529186506',
 '3527458719',
 '3530760026',
 '3520898657',
 '3509802263',
 '3527067779',
 '3542746794',
 '3531852803',
 '3539659889',
 '3528589664',
 '3531440529',
 '3525781879',
 '3525221725',
 '3525736569',
 '3526790609',
 '3521154128',
 '3532337983',
 '3510642089',
 '3523468322',
 '3518301563',
 '3516636221',
 '3526806380',
 '3540108299',
 '3528045366',
 '3527060199',
 '3529131107',
 '3522164886',
 '3529973233',
 '3532609840',
 '3527603162',
 '3527640368',
 '3511283421',
 '3529042722',
 '3521470467',
 '3527810410',
 '3532661382',
 '3513253402',
 '3529683808',
 '3534017483',
 '3524908310',
 '3514651296',
 '3531540989',
 '3528010608',
 '3525254507',
 '3514179013',
 '3525739806',
 '3521143290',
 '3529410476',
 '3527777263',
 '3528113417',
 '3523798942',
 '3518596494',
 '3524911016',
 '3527626943',
 '3531322391',
 '3515531855',
 '3539638445',
 '3528588374',
 '3525207801',
 '3532536827',
 '3532492546',
 '3542556859',
 '3530795390',
 '3530940314',
 '3519772998',
 '3522098727',
 '3540140159',
 '3540130657',
 '3542555346',
 '3525784020',
 '3542556322',
 '3527668980',
 '3531152718',
 '3542707230',
 '3535626422',
 '3515512198',
 '3521421468',
 '3531126268',
 '3545496653',
 '3525717764',
 '3523471621',
 '3531153687',
 '3526083410',
 '3518422992',
 '3525727129',
 '3523669316',
 '3521162095',
 '3521490564',
 '3527781614',
 '3527820987',
 '3523776819',
 '3531442257',
 '3511295654',
 '3524162828',
 '3519837563',
 '3523903236',
 '3528912269',
 '3525979172',
 '3522659469',
 '3524216314',
 '3523765662',
 '3525845092',
 '3546783820',
 '3514763464',
 '3523962007',
 '3522655214',
 '3521131208',
 '3523468816',
 '3542533432',
 '3529676395',
 '3529137892',
 '3525726838',
 '3542566740',
 '3525250703',
 '3524252403',
 '3520855472',
 '3546785064',
 '3545990253',
 '3522042923',
 '3532490657',
 '3526090107',
 '3529806319',
 '3532580651',
 '3539673944',
 '3521913567',
 '3523785499',
 '3521454643',
 '3527048809',
 '3520088250',
 '3526219603',
 '3531157428',
 '3532498244',
 '3524217924',
 '3531856400',
 '3524115030',
 '3509582156',
 '3509577608',
 '3513271982',
 '3526210084',
 '3524211777',
 '3522274204',
 '3525640960',
 '3524838451',
 '3527075011',
 '3529696504',
 '3527025835',
 '3511737658',
 '3527093481',
 '3526075211',
 '3526197906',
 '3526630121',
 '3525614414',
 '3521439883',
 '3530954142',
 '3508862827',
 '3532628759',
 '3546301118',
 '3531339549',
 '3529283933',
 '3521481438',
 '3523716398',
 '3518880885',
 '3522230616',
 '3512826695',
 '3530873855',
 '3515507846',
 '3527093125',
 '3546336164',
 '3529127469',
 '3517160528',
 '3531408499',
 '3525845863',
 '3521480150',
 '3513253401',
 '3539683512',
 '3524242911',
 '3525721756',
 '3519783287',
 '3521469973',
 '3521915659',
 '3530767449',
 '3515059338',
 '3519896836',
 '3520200782',
 '3528170342',
 '3525966185',
 '3526788666',
 '3542550053',
 '3531561427',
 '3511583824',
 '3520422072',
 '3523919368',
 '3522284035',
 '3527354359',
 '3524214195',
 '3531310994',
 '3532778697',
 '3532605575',
 '3521474632',
 '3530978110',
 '3525858155',
 '3526087593',
 '3525736595',
 '3514770495',
 '3508057030',
 '3520382078',
 '3527813872',
 '3518242353',
 '3532617214',
 '3527854536',
 '3525206526',
 '3527053954',
 '3532346089',
 '3545968690',
 '3525016432',
 '3521460447',
 '3546845150',
 '3526765815',
 '3529821489',
 '3545498124',
 '3520858364',
 '3546191575',
 '3521424635',
 '3513734420',
 '3529278407',
 '3522641415',
 '3522000509',
 '3542551504',
 '3526075782',
 '3516652041',
 '3545900231',
 '3527855784',
 '3517126793',
 '3521946985',
 '3522203655',
 '3521460044',
 '3525735059',
 '3546329180',
 '3525717008',
 '3520862236',
 '3525712784',
 '3522170621',
 '3509594452',
 '3531101638',
 '3540127071',
 '3527515474',
 '3523775265',
 '3519234907',
 '3529143088',
 '3531353828',
 '3527711035',
 '3545913079',
 '3542705264',
 '3542578474',
 '3522201143',
 '3531345787',
 '3531105199',
 '3522671282',
 '3525763179',
 '3509843852',
 '3518894900',
 '3522216754',
 '3531101490',
 '3529432769',
 '3532512082',
 '3522087500',
 '3522141663',
 '3516454722',
 '3522215104',
 '3528114703',
 '3542703374',
 '3520802460',
 '3531413058',
 '3524236795',
 '3530931350',
 '3512619546',
 '3532604757',
 '3540137015',
 '3515055834',
 '3525253512',
 '3521424224',
 '3518595574',
 '3520380581',
 '3526151076',
 '3545998583',
 '3546006226',
 '3524267524',
 '3526160068',
 '3545492918',
 '3531351659',
 '3532579183',
 '3529403042',
 '3527451394',
 '3518597331',
 '3525252186',
 '3528325311',
 '3524230400',
 '3519104200',
 '3521936698',
 '3515509549',
 '3522111499',
 '3531997301',
 '3546059757',
 '3520432611',
 '3545911797',
 '3509513522',
 '3528118188',
 '3526158611',
 '3531344878',
 '3531629345',
 '3529475860',
 '3522274437',
 '3525795404',
 '3530408336',
 '3525900119',
 '3526076833',
 '3525985823',
 '3531352186',
 '3522230939',
 '3525226274',
 '3546335171',
 '3521864405',
 '3532302845',
 '3545489450',
 '3545494932',
 '3521130561',
 '3525780068',
 '3526789036',
 '3527095351',
 '3520674264',
 '3529773241',
 '3542702435',
 '3511427196',
 '3513226002',
 '3523521348',
 '3539667663',
 '3520819860',
 '3532570991',
 '3529968956',
 '3518645107',
 '3520446712',
 '3546773023',
 '3520034957',
 '3522608622',
 '3529295929',
 '3529698165',
 '3509842273',
 '3518866194',
 '3514174229',
 '3530619742',
 '3532668283',
 '3529461483',
 '3532349059',
 '3530891896',
 '3542580424',
 '3522383802',
 '3531336607',
 '3540137208',
 '3526391313',
 '3522257434',
 '3533959034',
 '3531107907',
 '3545497889',
 '3526321017',
 '3516611566',
 '3526828099',
 '3526581629',
 '3532605593',
 '3527649001',
 '3526084084',
 '3532320476',
 '3509112436',
 '3531346484',
 '3523915024',
 '3520549537',
 '3521723452',
 '3531158208',
 '3529369097',
 '3526798261',
 '3522683748',
 '3513142985',
 '3531425725',
 '3529378199',
 '3511438536',
 '3523779769',
 '3527485799',
 '3518769487',
 '3532666283',
 '3526094895',
 '3531449842',
 '3527817030',
 '3529298139',
 '3509490698',
 '3527164186',
 '3522229066',
 '3531202522',
 '3525864582',
 '3521829168',
 '3527712087',
 '3527592303',
 '3525249646',
 '3526775714',
 '3525984999',
 '3526082522',
 '3529480733',
 '3525934999',
 '3531346641',
 '3511438897',
 '3525655227',
 '3529987005',
 '3528111562',
 '3519794701',
 '3529987442',
 '3532760544',
 '3522206477',
 '3515575053',
 '3546799368',
 '3510973353',
 '3520221182',
 '3520678148',
 '3532603998',
 '3527711170',
 '3524995790',
 '3522254604',
 '3522494850',
 '3521198927',
 '3527090867',
 '3531410890',
 '3525693300',
 '3526131085',
 '3530983757',
 '3516613430',
 '3529106937',
 '3526778122',
 '3527675141',
 '3522277288',
 '3522011608',
 '3529366691',
 '3520859280',
 '3523346794']

Get information from all job page

In [ ]:
from tqdm.notebook import tqdm

job_info_list = []

for job_id in tqdm(job_id_list):
    try:
        job_info = get_single_job_info(job_id)
        job_info_list.append(job_info)
    except Exception as e:
        print(e)

job_info_list[:3]

In [34]:
job_df = pd.DataFrame(job_info_list)
job_df.head(10)

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview
0,3520044004,https://www.linkedin.com/jobs/view/3520044004,"Data Scientist, Research",TikTok,https://media.licdn.com/dms/image/C510BAQGCdThXIss7UQ/company-logo_100_100/0/1539940587971?e=1687996800&v=beta&t=1AyKLKEh0SiRwHFVslSVLJ-5LaOWsCzFqZtQ9ZvHi1o,"San Jose, CA",Hybrid,2 weeks ago,198 applicants,Full-time,"10,001+ employees · Entertainment Providers"
1,3523743282,https://www.linkedin.com/jobs/view/3523743282,Global Data Scientist,Kimberly-Clark,https://media.licdn.com/dms/image/C560BAQFahtjOdf_ETQ/company-logo_100_100/0/1542208571146?e=1687996800&v=beta&t=y-aRHU6gnrNyr6nMPswJJHlWEoEOjZyHL-a1Qs5MPFY,United States,Remote,2 weeks ago,Over 200 applicants,Full-time · Mid-Senior level,"10,001+ employees · Manufacturing"
2,3520459813,https://www.linkedin.com/jobs/view/3520459813,Data Analytics Intern (Summer 2023),Industry Dive,https://media.licdn.com/dms/image/C4E0BAQEAkpLAgFUtpA/company-logo_100_100/0/1520994058492?e=1687996800&v=beta&t=wkHpT8VLjHRZryS_VDdpboOGmMkNRTNhMqVoDrCC2_M,"Washington, DC",Remote,None,None,$16/hr - $21/hr (from job description) · Internship · Internship,201-500 employees · Online Audio and Video Media
3,3525723554,https://www.linkedin.com/jobs/view/3525723554,Data Scientist Solution Specialist- IT Internship,Waters Corporation,https://media.licdn.com/dms/image/C560BAQHFDhBFVWfhzg/company-logo_100_100/0/1656651227123?e=1687996800&v=beta&t=YmLFUIyNIljy5hv0bST7P3wzrzdVBRln9qUpFAufG0c,"Milford, MA",On-site,1 week ago,Over 200 applicants,Internship · Internship,"5,001-10,000 employees · Biotechnology Research"
4,3527821880,https://www.linkedin.com/jobs/view/3527821880,Data Engineer,Chatham Financial,https://media.licdn.com/dms/image/C4D0BAQFPJJtAqKZSKA/company-logo_100_100/0/1566565993951?e=1687996800&v=beta&t=w4VlO0akxyqbbvH7Io6cMb3i8qShWG84zirwSGF-rDM,"Kennett Square, PA",On-site,2 weeks ago,104 applicants,Full-time · Entry level,"501-1,000 employees · Financial Services"
5,3545964641,https://www.linkedin.com/jobs/view/3545964641,"Programmer, Data Analysis, Epidemiology Analytics","Daiichi Sankyo, Inc.",https://media.licdn.com/dms/image/C4E0BAQG95drOHkKpng/company-logo_100_100/0/1598625647052?e=1687996800&v=beta&t=5Udyx0TVHjP69EsvMylTweGLMgYVUfzVxTHcxCxserQ,"Basking Ridge, NJ",None,2 days ago,25 applicants,Full-time,"1,001-5,000 employees · Pharmaceutical Manufacturing"
6,3520729278,https://www.linkedin.com/jobs/view/3520729278,Investment Data Analyst,Westbourne Partners,https://media.licdn.com/dms/image/C560BAQHzeeFsphik2w/company-logo_100_100/0/1644838979087?e=1687996800&v=beta&t=0dJ4YM0X9zk6FQtVPIEz-wM2esA3X0byK0L4Cs-T5Cw,"Chicago, IL",Hybrid,2 weeks ago,Over 200 applicants,"$85,000/yr - $130,000/yr · Full-time · Mid-Senior level",11-50 employees · Staffing and Recruiting
7,3516637194,https://www.linkedin.com/jobs/view/3516637194,"Data Scientist, DC",Rhombus Power Inc.,https://media.licdn.com/dms/image/C560BAQFZ-zC4kM27aQ/company-logo_100_100/0/1626387046517?e=1687996800&v=beta&t=W-n54pZf2YM8Mi-HS2Nq59OUDSpOAebxy-YIJ4I5_H0,"Washington, DC",Hybrid,2 weeks ago,Over 200 applicants,Full-time · Associate,51-200 employees · Defense and Space Manufacturing
8,3527065467,https://www.linkedin.com/jobs/view/3527065467,Data Operations Engineer / Business Operations Analyst,US Tech Solutions,https://media.licdn.com/dms/image/C4D0BAQHPF54GNm3f4w/company-logo_100_100/0/1519856100208?e=1687996800&v=beta&t=RzUD8JFKRffFan_6wyfX_GQZSUbkmy9XbHFIP7PpXoY,"McLean, VA",Hybrid,1 week ago,67 applicants,Full-time · Mid-Senior level,"1,001-5,000 employees · Staffing and Recruiting"
9,3522212905,https://www.linkedin.com/jobs/view/3522212905,Medical Software Quality Engineer - $120k/yr,Bayer,https://media.licdn.com/dms/image/C4E0BAQHKicWqgn2J6g/company-logo_100_100/0/1657870661280?e=1687996800&v=beta&t=WAQmWcZB3S5oRvp4TBIongn5nyCfElrXoGaD2qqUD4M,"Indianola, PA",Hybrid,2 weeks ago,43 applicants,"$120,000/yr · Contract · Mid-Senior level","10,001+ employees · Chemical Manufacturing"

time: 8.52 ms (started: 2023-03-30 10:07:05 -05:00)

#### Save DataFrame to csv file

In [43]:
JOB_INFO_PATH = os.path.join(PROJECT_DIR, INFO_DIR_NAME, os.path.basename(JOB_FILE_PATH)[:-3] + 'csv')

job_df.to_csv(JOB_INFO_PATH, index=0, sep='@')

time: 14.4 ms (started: 2023-03-30 23:24:25 -05:00)

#### Load most recent DataFrame from csv file

In [16]:
JOB_INFO_PATH = os.path.join(PROJECT_DIR, INFO_DIR_NAME, (os.listdir(os.path.join(PROJECT_DIR, INFO_DIR_NAME)))[-1])

job_df = pd.read_csv(JOB_INFO_PATH, index_col=0, sep='@')
job_df.head(10)

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview
0,3520044004,https://www.linkedin.com/jobs/view/3520044004,"Data Scientist, Research",TikTok,https://media.licdn.com/dms/image/C510BAQGCdThXIss7UQ/company-logo_100_100/0/1539940587971?e=1687996800&v=beta&t=1AyKLKEh0SiRwHFVslSVLJ-5LaOWsCzFqZtQ9ZvHi1o,"San Jose, CA",Hybrid,2 weeks ago,198 applicants,Full-time,"10,001+ employees · Entertainment Providers"
1,3523743282,https://www.linkedin.com/jobs/view/3523743282,Global Data Scientist,Kimberly-Clark,https://media.licdn.com/dms/image/C560BAQFahtjOdf_ETQ/company-logo_100_100/0/1542208571146?e=1687996800&v=beta&t=y-aRHU6gnrNyr6nMPswJJHlWEoEOjZyHL-a1Qs5MPFY,United States,Remote,2 weeks ago,Over 200 applicants,Full-time · Mid-Senior level,"10,001+ employees · Manufacturing"
2,3520459813,https://www.linkedin.com/jobs/view/3520459813,Data Analytics Intern (Summer 2023),Industry Dive,https://media.licdn.com/dms/image/C4E0BAQEAkpLAgFUtpA/company-logo_100_100/0/1520994058492?e=1687996800&v=beta&t=wkHpT8VLjHRZryS_VDdpboOGmMkNRTNhMqVoDrCC2_M,"Washington, DC",Remote,NaN,NaN,$16/hr - $21/hr (from job description) · Internship · Internship,201-500 employees · Online Audio and Video Media
3,3525723554,https://www.linkedin.com/jobs/view/3525723554,Data Scientist Solution Specialist- IT Internship,Waters Corporation,https://media.licdn.com/dms/image/C560BAQHFDhBFVWfhzg/company-logo_100_100/0/1656651227123?e=1687996800&v=beta&t=YmLFUIyNIljy5hv0bST7P3wzrzdVBRln9qUpFAufG0c,"Milford, MA",On-site,1 week ago,Over 200 applicants,Internship · Internship,"5,001-10,000 employees · Biotechnology Research"
4,3527821880,https://www.linkedin.com/jobs/view/3527821880,Data Engineer,Chatham Financial,https://media.licdn.com/dms/image/C4D0BAQFPJJtAqKZSKA/company-logo_100_100/0/1566565993951?e=1687996800&v=beta&t=w4VlO0akxyqbbvH7Io6cMb3i8qShWG84zirwSGF-rDM,"Kennett Square, PA",On-site,2 weeks ago,104 applicants,Full-time · Entry level,"501-1,000 employees · Financial Services"
5,3545964641,https://www.linkedin.com/jobs/view/3545964641,"Programmer, Data Analysis, Epidemiology Analytics","Daiichi Sankyo, Inc.",https://media.licdn.com/dms/image/C4E0BAQG95drOHkKpng/company-logo_100_100/0/1598625647052?e=1687996800&v=beta&t=5Udyx0TVHjP69EsvMylTweGLMgYVUfzVxTHcxCxserQ,"Basking Ridge, NJ",NaN,2 days ago,25 applicants,Full-time,"1,001-5,000 employees · Pharmaceutical Manufacturing"
6,3520729278,https://www.linkedin.com/jobs/view/3520729278,Investment Data Analyst,Westbourne Partners,https://media.licdn.com/dms/image/C560BAQHzeeFsphik2w/company-logo_100_100/0/1644838979087?e=1687996800&v=beta&t=0dJ4YM0X9zk6FQtVPIEz-wM2esA3X0byK0L4Cs-T5Cw,"Chicago, IL",Hybrid,2 weeks ago,Over 200 applicants,"$85,000/yr - $130,000/yr · Full-time · Mid-Senior level",11-50 employees · Staffing and Recruiting
7,3516637194,https://www.linkedin.com/jobs/view/3516637194,"Data Scientist, DC",Rhombus Power Inc.,https://media.licdn.com/dms/image/C560BAQFZ-zC4kM27aQ/company-logo_100_100/0/1626387046517?e=1687996800&v=beta&t=W-n54pZf2YM8Mi-HS2Nq59OUDSpOAebxy-YIJ4I5_H0,"Washington, DC",Hybrid,2 weeks ago,Over 200 applicants,Full-time · Associate,51-200 employees · Defense and Space Manufacturing
8,3527065467,https://www.linkedin.com/jobs/view/3527065467,Data Operations Engineer / Business Operations Analyst,US Tech Solutions,https://media.licdn.com/dms/image/C4D0BAQHPF54GNm3f4w/company-logo_100_100/0/1519856100208?e=1687996800&v=beta&t=RzUD8JFKRffFan_6wyfX_GQZSUbkmy9XbHFIP7PpXoY,"McLean, VA",Hybrid,1 week ago,67 applicants,Full-time · Mid-Senior level,"1,001-5,000 employees · Staffing and Recruiting"
9,3522212905,https://www.linkedin.com/jobs/view/3522212905,Medical Software Quality Engineer - $120k/yr,Bayer,https://media.licdn.com/dms/image/C4E0BAQHKicWqgn2J6g/company-logo_100_100/0/1657870661280?e=1687996800&v=beta&t=WAQmWcZB3S5oRvp4TBIongn5nyCfElrXoGaD2qqUD4M,"Indianola, PA",Hybrid,2 weeks ago,43 applicants,"$120,000/yr · Contract · Mid-Senior level","10,001+ employees · Chemical Manufacturing"

time: 12.9 ms (started: 2023-03-31 20:25:26 -05:00)

# CLEANING

In [16]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Job ID            656 non-null    object
 1   Job URL           656 non-null    object
 2   Name              656 non-null    object
 3   Company           655 non-null    object
 4   Company Logo URL  656 non-null    object
 5   Location          656 non-null    object
 6   Workplace Type    561 non-null    object
 7   Time Posted       655 non-null    object
 8   Applicants Count  449 non-null    object
 9   Job Overview      656 non-null    object
 10  Company Overview  656 non-null    object
dtypes: object(11)
memory usage: 56.5+ KB

In [393]:
job_df_2 = job_df.copy() # Make a copy
job_df_2.head()

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview
0,3530951644,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",https://media.licdn.com/dms/image/C4D0BAQHw44zVuWeBMQ/company-logo_100_100/0/1519951880616?e=1687996800&v=beta&t=9is_bVp6AbucbbnSbDUPHSA6kqgLhpUF7TYuXDA1TsA,"Sioux City, IA",On-site,1 week ago,40 applicants,Contract · Entry level,51-200 employees · Defense and Space Manufacturing
1,3544009597,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,https://media.licdn.com/dms/image/C560BAQEZkh7wG0X0ew/company-logo_100_100/0/1618287716162?e=1687996800&v=beta&t=nLjiBBkms1IPvKEQf2SkcAKcopZV_ISF51Esz0TjGbY,"Charlotte, NC",On-site,3 weeks ago,None,Full-time · Entry level,51-200 employees · IT Services and IT Consulting
2,3541503028,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,"Atlantic City, NJ",Hybrid,3 weeks ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development"
3,3547594589,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,United States,Remote,27 minutes ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development"
4,3547517166,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,https://media.licdn.com/dms/image/C4E0BAQFe-tL0qK8kxw/company-logo_100_100/0/1632140982446?e=1687996800&v=beta&t=2gBvJLsqrfKdM1f8_cG0qi5shKIGVW5As4rdpceMmpo,"Athens, GA",On-site,1 day ago,None,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Consulting"

### Split Location
New columns:
- Location_City
- Location_State

In [394]:
job_df_2['Location'].str.split(', ').map(len).value_counts()

2    614
1     34
3      8
Name: Location, dtype: int64

In [395]:
# Remove United States from Location col
job_df_2['Location'] = job_df_2['Location'].str.replace('United States', '', regex=False).str.strip(', ')
# Split city and state from location col
job_df_2[['Location_City', 'Location_State']] = job_df_2['Location'].str.split(', ', expand=True)
job_df_2.head()

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State
0,3530951644,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",https://media.licdn.com/dms/image/C4D0BAQHw44zVuWeBMQ/company-logo_100_100/0/1519951880616?e=1687996800&v=beta&t=9is_bVp6AbucbbnSbDUPHSA6kqgLhpUF7TYuXDA1TsA,"Sioux City, IA",On-site,1 week ago,40 applicants,Contract · Entry level,51-200 employees · Defense and Space Manufacturing,Sioux City,IA
1,3544009597,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,https://media.licdn.com/dms/image/C560BAQEZkh7wG0X0ew/company-logo_100_100/0/1618287716162?e=1687996800&v=beta&t=nLjiBBkms1IPvKEQf2SkcAKcopZV_ISF51Esz0TjGbY,"Charlotte, NC",On-site,3 weeks ago,None,Full-time · Entry level,51-200 employees · IT Services and IT Consulting,Charlotte,NC
2,3541503028,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,"Atlantic City, NJ",Hybrid,3 weeks ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",Atlantic City,NJ
3,3547594589,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,,Remote,27 minutes ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",,None
4,3547517166,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,https://media.licdn.com/dms/image/C4E0BAQFe-tL0qK8kxw/company-logo_100_100/0/1632140982446?e=1687996800&v=beta&t=2gBvJLsqrfKdM1f8_cG0qi5shKIGVW5As4rdpceMmpo,"Athens, GA",On-site,1 day ago,None,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Consulting",Athens,GA

### Match State Names with Abbreviation

In [396]:
states_dict = {
'Alabama':	            'AL',
'Kentucky':	            'KY',
'Ohio':	                'OH',
'Alaska':	            'AK',
'Louisiana':	        'LA',
'Oklahoma':	            'OK',
'Arizona':	            'AZ',
'Maine':	            'ME',
'Oregon':	            'OR',
'Arkansas':	            'AR',
'Maryland':	            'MD',
'Pennsylvania':	        'PA',
'American Samoa':	    'AS',
'Massachusetts':	    'MA',
'Puerto Rico':	        'PR',
'California':	        'CA',
'Michigan':	            'MI',
'Rhode Island':	        'RI',
'Colorado':	            'CO',
'Minnesota':	        'MN',
'South Carolina':	    'SC',
'Connecticut':	        'CT',
'Mississippi':	        'MS',
'South Dakota':	        'SD',
'Delaware':	            'DE',
'Missouri':	            'MO',
'Tennessee':	        'TN',
'District of Columbia':	'DC',	
'Montana':	            'MT',
'Texas':	            'TX',
'Florida':	            'FL',
'Nebraska':	            'NE',
'Trust Territories':	'TT',
'Georgia':	            'GA',
'Nevada':	            'NV',
'Utah':	                'UT',
'Guam':	                'GU',
'New Hampshire':	    'NH',
'Vermont':	            'VT',
'Hawaii':	            'HI',
'New Jersey':	        'NJ',
'Virginia':	            'VA',
'Idaho':	            'ID',
'New Mexico':	        'NM',
'Virgin Islands':	    'VI',
'Illinois':	            'IL',
'New York':	            'NY',
'Washington':	        'WA',
'Indiana':	            'IN',
'North Carolina':	    'NC',
'West Virginia':	    'WV',
'Iowa':	                'IA',
'North Dakota':	        'ND',
'Wisconsin':	        'WI',
'Kansas':	            'KS',
'Northern Mariana Islands':	'MP',	
'Wyoming':	            'WY'
}
states_dict = dict(sorted(states_dict.items()))
states_dict = dict((v, k) for k, v in states_dict.items())
states_dict

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AS': 'American Samoa',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'GU': 'Guam',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'MP': 'Northern Mariana Islands',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'PR': 'Puerto Rico',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'TT': 'Trust Territories',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VI': 'Virgin Islands',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming'}

In [397]:
job_df_2['Location_State'] = job_df_2['Location_State'].apply(lambda x: states_dict[x] if x in states_dict else None)
job_df_2['Location_State'].unique()

array(['Iowa', 'North Carolina', 'New Jersey', None, 'Georgia',
       'California', 'Indiana', 'Florida', 'Missouri',
       'District of Columbia', 'Maryland', 'Minnesota', 'New York',
       'Michigan', 'Ohio', 'Illinois', 'Alabama', 'Massachusetts',
       'Texas', 'Colorado', 'New Hampshire', 'Pennsylvania', 'Virginia',
       'Kansas', 'Washington', 'Nebraska', 'Connecticut', 'Wyoming',
       'Arizona', 'South Carolina', 'Louisiana', 'Oklahoma', 'Kentucky',
       'Tennessee', 'Wisconsin', 'Alaska', 'North Dakota', 'Nevada',
       'New Mexico', 'Mississippi', 'Rhode Island', 'Utah', 'Oregon',
       'Hawaii', 'Montana', 'Arkansas'], dtype=object)

### Split Company Overview
New columns:
- Company Size
- Industry

In [398]:
job_df_2['Company Overview'].str.split(' · ').map(len).value_counts()

2    650
1      6
Name: Company Overview, dtype: int64

In [399]:
list(set(job_df_2['Company Overview'].str.split(' · ').values.sum()))

['Political Organizations',
 'Administration of Justice',
 'Real Estate',
 'Spectator Sports',
 'Entertainment Providers',
 'Non-profit Organizations',
 'Environmental Services',
 'Defense and Space Manufacturing',
 'Manufacturing',
 'Higher Education',
 '1,001-5,000 employees',
 'Garrett Dobbertin is hiring for this job',
 'Food and Beverage Services',
 'Electric Power Generation',
 'Automotive',
 'Telecommunications',
 '1-10 employees',
 'Industrial Machinery Manufacturing',
 'Retail',
 'Armed Forces',
 'Education Administration Programs',
 'IT Services and IT Consulting',
 '<a class="app-aware-link " target="_self" href="https://www.linkedin.com/search/results/people/?origin=JOB_PAGE_CANNED_SEARCH&amp;currentCompany=%5B166729%5D&amp;schoolFilter=%5B157342%5D" data-test-app-aware-link="">4 school alumni</a>',
 'Venture Capital and Private Equity Principals',
 'Civic and Social Organizations',
 '51-200 employees',
 'Advertising Services',
 'Consumer Goods',
 '201-500 employees',
 'Consumer Services',
 'Pharmaceutical Manufacturing',
 'Information Technology &amp; Services',
 'Computers and Electronics Manufacturing',
 'Biotechnology Research',
 'Aviation and Aerospace Component Manufacturing',
 'Computer and Network Security',
 'Social Networking Platforms',
 'Biotechnology',
 'Banking',
 'Internet News',
 'Motor Vehicle Manufacturing',
 'Staffing and Recruiting',
 'Medical Equipment Manufacturing',
 'Truck Transportation',
 'Outsourcing/Offshoring',
 'Entertainment',
 '10,001+ employees',
 'Food &amp; Beverages',
 'Think Tanks',
 'Retail Motor Vehicles',
 'Insurance',
 'Civil Engineering',
 'Wellness and Fitness Services',
 'Construction',
 'Chemical Manufacturing',
 'Transportation/Trucking/Railroad',
 '5,001-10,000 employees',
 'Government Administration',
 'Professional Services',
 'Research Services',
 'Professional Training and Coaching',
 'Nuclear Electric Power Generation',
 'Investment Management',
 'Software Development',
 'Primary and Secondary Education',
 'Furniture',
 'Facilities Services',
 'Legal Services',
 'Financial Services',
 'See how you compare to 70 applicants.<span class="white-space-pre"> </span><a class="app-aware-link " target="_self" href="https://www.linkedin.com/premium/products/?family=JSS&amp;upsellOrderOrigin=premium_job_details_summary_card&amp;utype=job" data-test-app-aware-link="">Retry Premium Free</a>',
 'Defense &amp; Space',
 'Machinery Manufacturing',
 'Business Consulting and Services',
 'Internet Publishing',
 'Research',
 'Hospitals and Health Care',
 '11-50 employees',
 'Computer Hardware',
 'Printing Services',
 'Oil and Gas',
 'International Trade and Development',
 'Semiconductor Manufacturing',
 '501-1,000 employees',
 'Renewable Energy Semiconductor Manufacturing',
 'Book and Periodical Publishing',
 'Technology, Information and Internet',
 'Mining',
 'Design Services',
 'Appliances, Electrical, and Electronics Manufacturing',
 'E-Learning Providers',
 'Automation Machinery Manufacturing',
 'Human Resources Services']

In [400]:
job_df_2.loc[~job_df_2['Company Overview'].str.contains('employees'), 'Company Overview'] = None # replace invalid Company Overview with None
job_df_2[job_df_2['Company Overview'].isna()] # recheck

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State
5,3541502847,https://www.linkedin.com/jobs/view/3541502847,Artificial Intelligence IOS developer,None,"data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",,Remote,56 minutes ago,1 applicant,Temporary,None,,None
105,3524205334,https://www.linkedin.com/jobs/view/3524205334,Researcher -- E 2023,USG,https://media.licdn.com/dms/image/C4D0BAQEtFVFfSbtRWA/company-logo_100_100/0/1668528042685?e=1687996800&v=beta&t=PP1d3A97jGsesUohpTQHe2XooPDPwEO32l3exXM9828,"Libertyville, IL",On-site,1 week ago,4 applicants,"5,001-10,000 employees · Wholesale Building Materials",None,Libertyville,Illinois
130,3525179725,https://www.linkedin.com/jobs/view/3525179725,AI Research Engineer- Remote,Neo Cybernetica,https://media.licdn.com/dms/image/C560BAQFdt_fuOIJ5TQ/company-logo_100_100/0/1644369586489?e=1687996800&v=beta&t=48gLYFNmehIuoOD3QnQZfOUPPAg-EZncaIXIOVNLs8A,"Bedford, NH",Remote,2 weeks ago,70 applicants,11-50 employees · Software Development,None,Bedford,New Hampshire

In [401]:
job_df_2[job_df_2['Company Overview'].notna()]['Company Overview'].str.split(' · ').map(len).value_counts()

2    650
1      3
Name: Company Overview, dtype: int64

In [402]:
tmp = job_df_2[(job_df_2['Company Overview'].notna())]
tmp[tmp['Company Overview'].str.split('·').map(len)==1]

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State
142,3511519779,https://www.linkedin.com/jobs/view/3511519779,Development Project Manger,Novin Development Corp (NDC),https://media.licdn.com/dms/image/C4D0BAQG0dL80mmXHOw/company-logo_100_100/0/1519906436626?e=1687996800&v=beta&t=Ztw1tnXM0NJh9VxYhYv0RgLAX6aInl0J5E9Ec2wegMc,San Francisco Bay Area,Hybrid,2 weeks ago,Over 200 applicants,"$150,000/yr (from job description) · Full-time",11-50 employees,San Francisco Bay Area,None
513,3501141000,https://www.linkedin.com/jobs/view/3501141000,Communications and Non-Profit Management Internship Summer 2023,Institute for the Study of War,https://media.licdn.com/dms/image/C4D0BAQGQvkGlPGb5Eg/company-logo_100_100/0/1519908135181?e=1687996800&v=beta&t=7rnPeBJpC_x04uzM9IMjrKrMA3mLuK6y4VVhDp76qMo,"Washington, DC",Hybrid,1 month ago,Over 200 applicants,Internship,11-50 employees,Washington,District of Columbia
571,3515314825,https://www.linkedin.com/jobs/view/3515314825,Project Manager - Continuous Improvement,MassMEP,https://media.licdn.com/dms/image/C560BAQHYyK7bdYEOQQ/company-logo_100_100/0/1655235578188?e=1687996800&v=beta&t=Hh_pA2vyR-SmTHl01ihOdUhrbqc5EegSh6FfVp1dlj0,"Auburn, MA",Hybrid,3 weeks ago,158 applicants,"$97,000/yr · Full-time",11-50 employees,Auburn,Massachusetts

In [403]:
# mask = job_df_2[job_df_2['Company Overview'].str.contains('employees')]
job_df_2[['Company Size', 'Industry']] = job_df_2['Company Overview'].str.split(' · ', expand=True)
job_df_2.head()

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State,Company Size,Industry
0,3530951644,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",https://media.licdn.com/dms/image/C4D0BAQHw44zVuWeBMQ/company-logo_100_100/0/1519951880616?e=1687996800&v=beta&t=9is_bVp6AbucbbnSbDUPHSA6kqgLhpUF7TYuXDA1TsA,"Sioux City, IA",On-site,1 week ago,40 applicants,Contract · Entry level,51-200 employees · Defense and Space Manufacturing,Sioux City,Iowa,51-200 employees,Defense and Space Manufacturing
1,3544009597,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,https://media.licdn.com/dms/image/C560BAQEZkh7wG0X0ew/company-logo_100_100/0/1618287716162?e=1687996800&v=beta&t=nLjiBBkms1IPvKEQf2SkcAKcopZV_ISF51Esz0TjGbY,"Charlotte, NC",On-site,3 weeks ago,None,Full-time · Entry level,51-200 employees · IT Services and IT Consulting,Charlotte,North Carolina,51-200 employees,IT Services and IT Consulting
2,3541503028,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,"Atlantic City, NJ",Hybrid,3 weeks ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",Atlantic City,New Jersey,"1,001-5,000 employees",Software Development
3,3547594589,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,,Remote,27 minutes ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",,None,"1,001-5,000 employees",Software Development
4,3547517166,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,https://media.licdn.com/dms/image/C4E0BAQFe-tL0qK8kxw/company-logo_100_100/0/1632140982446?e=1687996800&v=beta&t=2gBvJLsqrfKdM1f8_cG0qi5shKIGVW5As4rdpceMmpo,"Athens, GA",On-site,1 day ago,None,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Consulting",Athens,Georgia,"1,001-5,000 employees",IT Services and IT Consulting

only works when comp size is avail

### Create Salary Column

In [404]:
# salary_pattern = r"\$(\d)+.*\/(yr|hr)"
# seq = '$50,000/yr - $75,000/yr (from job description) · Full-time · Associate'
# seq = '$16.74/hr - $21.75/hr'
# seq = '$20/hr - $23/hr'
# seq = '$40/hr - $45/hr'
# result = re.search(salary_pattern, seq)
# result.group()

In [405]:
salary_pattern = r"\$(\d)+.*\/(yr|hr)"

for idx, row in job_df_2.iterrows():
    job_overview = row['Job Overview']
    try:
        salary = re.search(salary_pattern, job_overview)
        job_df_2.at[idx, 'Salary'] = salary.group() if salary is not None else None
    except NoSuchElementException:
        pass

job_df_2.head(5)

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State,Company Size,Industry,Salary
0,3530951644,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",https://media.licdn.com/dms/image/C4D0BAQHw44zVuWeBMQ/company-logo_100_100/0/1519951880616?e=1687996800&v=beta&t=9is_bVp6AbucbbnSbDUPHSA6kqgLhpUF7TYuXDA1TsA,"Sioux City, IA",On-site,1 week ago,40 applicants,Contract · Entry level,51-200 employees · Defense and Space Manufacturing,Sioux City,Iowa,51-200 employees,Defense and Space Manufacturing,NaN
1,3544009597,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,https://media.licdn.com/dms/image/C560BAQEZkh7wG0X0ew/company-logo_100_100/0/1618287716162?e=1687996800&v=beta&t=nLjiBBkms1IPvKEQf2SkcAKcopZV_ISF51Esz0TjGbY,"Charlotte, NC",On-site,3 weeks ago,None,Full-time · Entry level,51-200 employees · IT Services and IT Consulting,Charlotte,North Carolina,51-200 employees,IT Services and IT Consulting,NaN
2,3541503028,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,"Atlantic City, NJ",Hybrid,3 weeks ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",Atlantic City,New Jersey,"1,001-5,000 employees",Software Development,NaN
3,3547594589,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,,Remote,27 minutes ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",,None,"1,001-5,000 employees",Software Development,NaN
4,3547517166,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,https://media.licdn.com/dms/image/C4E0BAQFe-tL0qK8kxw/company-logo_100_100/0/1632140982446?e=1687996800&v=beta&t=2gBvJLsqrfKdM1f8_cG0qi5shKIGVW5As4rdpceMmpo,"Athens, GA",On-site,1 day ago,None,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Consulting",Athens,Georgia,"1,001-5,000 employees",IT Services and IT Consulting,NaN

### Split Job Overview

- Workplace Type
- Level of Expertise

In [406]:
tmp = job_df_2.copy()
tmp = tmp['Job Overview'].str.replace(' (from job description)', '', regex=False)
tmp = tmp.str.replace(r'\$(\d)+.*\/(yr|hr)', '', regex=True).str.strip(' · ')
list(set(tmp.str.split(' · ').values.sum()))

['11-50 employees',
 '5,001-10,000 employees',
 'Director',
 'Contract',
 'Wholesale Building Materials',
 'Entry level',
 'Temporary',
 'Full-time',
 'Software Development',
 'Executive',
 'Associate',
 'Part-time',
 'Internship',
 'Mid-Senior level']

In [407]:
contract_type_list = ['Temporary', 'Part-time', 'Full-time', 'Internship', 'Contract']
contract_type_pattern = '|'.join(contract_type_list)

for idx, row in job_df_2.iterrows():
    job_overview = row['Job Overview']
    try:
        contract_type = re.search(contract_type_pattern, job_overview)
        job_df_2.at[idx, 'Contract Type'] = contract_type.group() if contract_type is not None else None
    except NoSuchElementException:
        pass
job_df_2.head(5)

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State,Company Size,Industry,Salary,Contract Type
0,3530951644,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",https://media.licdn.com/dms/image/C4D0BAQHw44zVuWeBMQ/company-logo_100_100/0/1519951880616?e=1687996800&v=beta&t=9is_bVp6AbucbbnSbDUPHSA6kqgLhpUF7TYuXDA1TsA,"Sioux City, IA",On-site,1 week ago,40 applicants,Contract · Entry level,51-200 employees · Defense and Space Manufacturing,Sioux City,Iowa,51-200 employees,Defense and Space Manufacturing,NaN,Contract
1,3544009597,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,https://media.licdn.com/dms/image/C560BAQEZkh7wG0X0ew/company-logo_100_100/0/1618287716162?e=1687996800&v=beta&t=nLjiBBkms1IPvKEQf2SkcAKcopZV_ISF51Esz0TjGbY,"Charlotte, NC",On-site,3 weeks ago,None,Full-time · Entry level,51-200 employees · IT Services and IT Consulting,Charlotte,North Carolina,51-200 employees,IT Services and IT Consulting,NaN,Full-time
2,3541503028,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,"Atlantic City, NJ",Hybrid,3 weeks ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",Atlantic City,New Jersey,"1,001-5,000 employees",Software Development,NaN,Contract
3,3547594589,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,,Remote,27 minutes ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",,None,"1,001-5,000 employees",Software Development,NaN,Contract
4,3547517166,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,https://media.licdn.com/dms/image/C4E0BAQFe-tL0qK8kxw/company-logo_100_100/0/1632140982446?e=1687996800&v=beta&t=2gBvJLsqrfKdM1f8_cG0qi5shKIGVW5As4rdpceMmpo,"Athens, GA",On-site,1 day ago,None,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Consulting",Athens,Georgia,"1,001-5,000 employees",IT Services and IT Consulting,NaN,Full-time

In [408]:
exp_levels_list = ['Entry level', 'Junior', 'Mid-Senior level', 'Associate', 'Executive', 'Director']
exp_levels_pattern = '|'.join(exp_levels_list)

for idx, row in job_df_2.iterrows():
    job_overview = row['Job Overview']
    try:
        exp_level = re.search(exp_levels_pattern, job_overview)
        job_df_2.at[idx, 'Level of Expertise'] = exp_level.group() if exp_level is not None else None
    except NoSuchElementException:
        pass
job_df_2.head(5)

,Job ID,Job URL,Name,Company,Company Logo URL,Location,Workplace Type,Time Posted,Applicants Count,Job Overview,Company Overview,Location_City,Location_State,Company Size,Industry,Salary,Contract Type,Level of Expertise
0,3530951644,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",https://media.licdn.com/dms/image/C4D0BAQHw44zVuWeBMQ/company-logo_100_100/0/1519951880616?e=1687996800&v=beta&t=9is_bVp6AbucbbnSbDUPHSA6kqgLhpUF7TYuXDA1TsA,"Sioux City, IA",On-site,1 week ago,40 applicants,Contract · Entry level,51-200 employees · Defense and Space Manufacturing,Sioux City,Iowa,51-200 employees,Defense and Space Manufacturing,NaN,Contract,Entry level
1,3544009597,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,https://media.licdn.com/dms/image/C560BAQEZkh7wG0X0ew/company-logo_100_100/0/1618287716162?e=1687996800&v=beta&t=nLjiBBkms1IPvKEQf2SkcAKcopZV_ISF51Esz0TjGbY,"Charlotte, NC",On-site,3 weeks ago,None,Full-time · Entry level,51-200 employees · IT Services and IT Consulting,Charlotte,North Carolina,51-200 employees,IT Services and IT Consulting,NaN,Full-time,Entry level
2,3541503028,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,"Atlantic City, NJ",Hybrid,3 weeks ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",Atlantic City,New Jersey,"1,001-5,000 employees",Software Development,NaN,Contract,Entry level
3,3547594589,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,https://media.licdn.com/dms/image/C4E0BAQGk4XHA-0aydA/company-logo_100_100/0/1553721179130?e=1687996800&v=beta&t=iLaN2mgy_v0G0TzRbyYv_laOSXWA7F7pmgATQ0ltneI,,Remote,27 minutes ago,None,Contract · Entry level,"1,001-5,000 employees · Software Development",,None,"1,001-5,000 employees",Software Development,NaN,Contract,Entry level
4,3547517166,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,https://media.licdn.com/dms/image/C4E0BAQFe-tL0qK8kxw/company-logo_100_100/0/1632140982446?e=1687996800&v=beta&t=2gBvJLsqrfKdM1f8_cG0qi5shKIGVW5As4rdpceMmpo,"Athens, GA",On-site,1 day ago,None,Full-time · Mid-Senior level,"1,001-5,000 employees · IT Services and IT Consulting",Athens,Georgia,"1,001-5,000 employees",IT Services and IT Consulting,NaN,Full-time,Mid-Senior level

### Replace all None and emptry strings with NaN

In [430]:
job_df_2 = job_df_2.replace('', np.nan).fillna('Unknown')

# EDA

In [427]:
cols = ['Job URL', 'Name', 'Company', 'Location_City', 'Location_State',
       'Workplace Type', 'Time Posted', 'Applicants Count',
        'Salary', 'Contract Type', 'Level of Expertise',
       'Company Size', 'Industry']
job_df_2 = job_df_2[cols]

In [431]:
job_df_2.head(10)

,Job URL,Name,Company,Location_City,Location_State,Workplace Type,Time Posted,Applicants Count,Salary,Contract Type,Level of Expertise,Company Size,Industry
0,https://www.linkedin.com/jobs/view/3530951644,Data Analyst/Administrative Assistant,"Tuba Group, Inc.",Sioux City,Iowa,On-site,1 week ago,40 applicants,Unknown,Contract,Entry level,51-200 employees,Defense and Space Manufacturing
1,https://www.linkedin.com/jobs/view/3544009597,Azure Data Engineer,IT Minds LLC,Charlotte,North Carolina,On-site,3 weeks ago,Unknown,Unknown,Full-time,Entry level,51-200 employees,IT Services and IT Consulting
2,https://www.linkedin.com/jobs/view/3541503028,Big Data Developer,Diverse Lynx,Atlantic City,New Jersey,Hybrid,3 weeks ago,Unknown,Unknown,Contract,Entry level,"1,001-5,000 employees",Software Development
3,https://www.linkedin.com/jobs/view/3547594589,Data Scientist @ Remote,Diverse Lynx,Unknown,Unknown,Remote,27 minutes ago,Unknown,Unknown,Contract,Entry level,"1,001-5,000 employees",Software Development
4,https://www.linkedin.com/jobs/view/3547517166,Viral Research Scientist I,Compunnel Inc.,Athens,Georgia,On-site,1 day ago,Unknown,Unknown,Full-time,Mid-Senior level,"1,001-5,000 employees",IT Services and IT Consulting
5,https://www.linkedin.com/jobs/view/3541502847,Artificial Intelligence IOS developer,Unknown,Unknown,Unknown,Remote,56 minutes ago,1 applicant,Unknown,Temporary,Unknown,Unknown,Unknown
6,https://www.linkedin.com/jobs/view/3526821605,Data Scientist,Diverse Lynx,Santa Clara,California,Hybrid,1 week ago,11 applicants,Unknown,Contract,Entry level,"1,001-5,000 employees",Software Development
7,https://www.linkedin.com/jobs/view/3513213441,Dev10 Entry Level Data Engineer - Nationwide,Genesis10,Fort Wayne,Indiana,On-site,2 weeks ago,5 applicants,Unknown,Full-time,Entry level,"1,001-5,000 employees",IT Services and IT Consulting
8,https://www.linkedin.com/jobs/view/3532768586,68053338 - DATA BASE ANALYST,State of Florida,Tallahassee,Florida,On-site,1 week ago,4 applicants,Unknown,Part-time,Entry level,"10,001+ employees",Government Administration
9,https://www.linkedin.com/jobs/view/3529968990,Sr Project Manager - Corporate Talent Acquisition,H&amp;R Block,Kansas City,Missouri,On-site,1 week ago,25 applicants,Unknown,Full-time,Mid-Senior level,"10,001+ employees",Retail

In [432]:
job_df_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656 entries, 0 to 655
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job URL             656 non-null    object
 1   Name                656 non-null    object
 2   Company             656 non-null    object
 3   Location_City       656 non-null    object
 4   Location_State      656 non-null    object
 5   Workplace Type      656 non-null    object
 6   Time Posted         656 non-null    object
 7   Applicants Count    656 non-null    object
 8   Salary              656 non-null    object
 9   Contract Type       656 non-null    object
 10  Level of Expertise  656 non-null    object
 11  Company Size        656 non-null    object
 12  Industry            656 non-null    object
dtypes: object(13)
memory usage: 66.8+ KB